
.main {
  background-color: var(--color-darker);
  padding: var(--bs-gutter-book);
  width: 100%;
  display: grid;
  justify-items: center;
}

.container {
  position: absolute;
  height: 100%;
  
}

.image {
  position: relative;
  display: block;
  margin:  0 auto;
  padding: 50px;
  max-width: 100%;
  height: 100%;
}