.container {
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  box-sizing: border-box;
  min-height: 100vh;
}

.mobile {
  background-color: var(--color-darker);
  min-height: 100vh;
}

@media (max-width: 1080px) {
  .main {
    display: none;
  }
}

@media (min-width: 1080px) {
  .mobile {
    display: none;
  }
}
